@charset "UTF-8";
body {
  background-color: sienna;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 6rem;
}

.yellow {
  color: yellow;
}

.black {
  color: black;
}

.pink {
  color: pink;
}

header {
  background-color: #f7dede; /* Color de fondo del encabezado, ajusta según tu diseño. */
  padding: 20px; /* Ajusta el relleno según sea necesario. */
}
header .logo-container {
  display: flex;
  align-items: center;
}
header .logo-container img {
  max-width: 150px; /* Ajusta el ancho máximo del logotipo según tus necesidades. */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener las proporciones. */
  margin-right: 20px; /* Agrega espacio a la derecha del logotipo para separarlo del texto. */
}
header h1 {
  font-family: "Bangers", cursive;
  color: #FFD700;
  text-shadow: 2px 2px 4px #FF8C00;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilos para el cuerpo del documento */
body {
  font-family: "Roboto", sans-serif;
  background-color: #1d1c1c;
  color: azure;
}
body .main h2 {
  font-family: "Arial", sans-serif;
  /* Puedes elegir una fuente sans-serif común para los subtítulos. */
  color: #333;
  /* Color de texto negro, pero puedes ajustarlo según tus preferencias. */
  font-size: 24px;
  /* Tamaño de la fuente para los subtítulos. Ajusta según sea necesario. */
  font-weight: bold;
  /* Puedes hacer que los subtítulos sean más audaces. */
  margin-bottom: 10px;
  /* Agrega un poco de espacio en la parte inferior para separar los subtítulos del contenido siguiente. */
}
body .main p {
  font-family: "Arial", sans-serif;
  /* Utiliza una fuente sans-serif común para los párrafos. */
  color: #b1adad;
  /* Color de texto gris oscuro, pero puedes ajustarlo según tus preferencias. */
  font-size: 20px;
  /* Tamaño de la fuente para los párrafos. Ajusta según sea necesario. */
  line-height: 1.5;
  /* Espaciado entre líneas para una mejor legibilidad. Puedes ajustar según tus preferencias. */
  margin-bottom: 30px;
  /* Agrega espacio en la parte inferior para separar los párrafos. */
}
body .main h3 {
  color: #c5c1c1;
  /* Color de texto gris oscuro, pero puedes ajustarlo según tus preferencias. */
  font-size: 25px;
  /* Tamaño de la fuente para los párrafos. Ajusta según sea necesario. */
  line-height: 1.5;
  /* Espaciado entre líneas para una mejor legibilidad. Puedes ajustar según tus preferencias. */
  margin-bottom: 30px;
}
body .main button {
  height: 45px;
  text-transform: uppercase;
  background-color: rgb(255, 217, 0);
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
body .main button h4 {
  font-size: 20px;
  padding-bottom: 30px;
  color: black;
  border-radius: 15px;
}
body .main button img {
  border: 15px;
  column-gap: normal;
}
body form {
  background-color: #f7dede;
  /* Color de fondo del formulario, ajusta según tu diseño. */
  padding: 20px;
  /* Ajusta el relleno según sea necesario. */
  border-radius: 10px;
  /* Bordes redondeados para el formulario. */
}
body .contact_form {
  text-align: center;
  /* Centra el contenido del formulario. */
}
body .contact_form h3 {
  font-family: "Bangers", cursive;
  /* Fuente llamativa similar a la de Los Simpsons. */
  color: #FFD700;
  /* Color amarillo similar al de Los Simpsons. */
  text-shadow: 2px 2px 4px #FF8C00;
  /* Sombra de texto para resaltar. */
  font-size: 40px;
}
body .contact_form h4 {
  margin-bottom: 20px;
  /* Espacio entre el título y el formulario. */
}
body .formulario label {
  display: block;
  margin-bottom: 5px;
  color: #FFD700;
  /* Color amarillo para etiquetas de formulario. */
}
body .formulario input,
body .formulario textarea {
  width: 100%;
  /* Ocupa el ancho completo del contenedor. */
  padding: 8px;
  /* Espaciado interno de los campos de entrada. */
  margin-bottom: 15px;
  /* Espacio entre los campos de entrada. */
  border: 1px solid #ddd;
  /* Borde del campo de entrada. */
  border-radius: 5px;
  /* Bordes redondeados para los campos de entrada. */
}
body .formulario textarea {
  resize: vertical;
  /* Permite redimensionar verticalmente el campo de texto. */
}
body .btn-primary {
  background-color: #007bff;
  /* Color azul para el botón. */
  color: #ffffff;
  /* Texto blanco para el botón. */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
body .btn-primary:hover {
  background-color: #0056b3;
  /* Cambio de color al pasar el ratón sobre el botón. */
}
body .aviso {
  color: #FFD700;
  /* Color amarillo para el aviso. */
  font-style: italic;
  margin-top: 10px;
}

/* Estilos para el contenedor padre del flex */
.padreFlex {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px;
}

/* Estilos para el contenedor grid */
.gridPadre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Estilos para las imágenes */
.img,
.logo,
.imagen-adaptada,
.background-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

/* Estilos para el texto sobre la imagen */
.text-over-image {
  padding: 10px;
  text-align: center;
  color: white;
}

/* Estilos para el pie de página */
.footer {
  position: absolute;
  width: 100%;
  background-color: black;
  padding: 30px;
}

.container {
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(97, 96, 96);
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  height: 100%;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px; /* Establece la altura de la imagen */
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 15px;
  color: rgb(88, 88, 88);
  flex-grow: 1; /* Hace que el texto ocupe el espacio restante */
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.row-cols-1 .col,
.row-cols-sm-2 .col,
.row-cols-md-3 .col {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .row-cols-sm-2 .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .row-cols-md-3 .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
/* Estilos para la sección de noticias */
#noticias {
  padding: 50px;
}
#noticias .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 100px;
}
#noticias .container h2 {
  font-family: "Arial", sans-serif;
  /* Puedes elegir una fuente sans-serif común para los subtítulos. */
  color: yellow;
  /* Color de texto negro, pero puedes ajustarlo según tus preferencias. */
  font-size: 34px;
  /* Tamaño de la fuente para los subtítulos. Ajusta según sea necesario. */
  font-weight: bold;
  text-align: center;
}
#noticias .container h3 {
  font-family: "Bangers", cursive;
  color: #FFD700;
  text-shadow: 2px 2px 4px #FF8C00;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 30px;
}
#noticias .container p {
  color: black;
  text-shadow: 2px 2px 4px gray;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 15px;
}
#noticias .container a {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container h2 {
  font-family: "Arial", sans-serif;
  /* Puedes elegir una fuente sans-serif común para los subtítulos. */
  color: pink;
  /* Color de texto negro, pero puedes ajustarlo según tus preferencias. */
  font-size: 34px;
  /* Tamaño de la fuente para los subtítulos. Ajusta según sea necesario. */
  font-weight: bold;
  text-align: center;
}
.container h3 {
  font-size: 25px;
  color: #d3cdcd;
  margin-bottom: 1.5rem;
  padding: 10px 15px;
}
.container h4 {
  font-size: 20px;
  padding-bottom: 30px;
  color: rgb(216, 215, 205);
  border-radius: 15px;
}
.container p {
  font-family: "Arial", sans-serif;
  /* Utiliza una fuente sans-serif común para los párrafos. */
  color: #b1adad;
  /* Color de texto gris oscuro, pero puedes ajustarlo según tus preferencias. */
  font-size: 20px;
  /* Tamaño de la fuente para los párrafos. Ajusta según sea necesario. */
  line-height: 1.5;
  /* Espaciado entre líneas para una mejor legibilidad. Puedes ajustar según tus preferencias. */
  margin-bottom: 30px;
  /* Agrega espacio en la parte inferior para separar los párrafos. */
}

/*# sourceMappingURL=estilo.css.map */
