.container {
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    height: 100%;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px; /* Establece la altura de la imagen */
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
    flex-grow: 1; /* Hace que el texto ocupe el espacio restante */
  }
  
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .row-cols-1 .col,
  .row-cols-sm-2 .col,
  .row-cols-md-3 .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  @media (min-width: 576px) {
    .row-cols-sm-2 .col {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .row-cols-md-3 .col {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
  