/* Estilos para el cuerpo del documento */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1d1c1c;
    color: azure;

    .main {

        h2 {
            font-family: 'Arial', sans-serif;
            /* Puedes elegir una fuente sans-serif común para los subtítulos. */
            color: #333;
            /* Color de texto negro, pero puedes ajustarlo según tus preferencias. */
            font-size: 24px;
            /* Tamaño de la fuente para los subtítulos. Ajusta según sea necesario. */
            font-weight: bold;
            /* Puedes hacer que los subtítulos sean más audaces. */
            margin-bottom: 10px;
            /* Agrega un poco de espacio en la parte inferior para separar los subtítulos del contenido siguiente. */
        }

        p {
            font-family: 'Arial', sans-serif;
            /* Utiliza una fuente sans-serif común para los párrafos. */
            color: #b1adad;
            /* Color de texto gris oscuro, pero puedes ajustarlo según tus preferencias. */
            font-size: 20px;
            /* Tamaño de la fuente para los párrafos. Ajusta según sea necesario. */
            line-height: 1.5;
            /* Espaciado entre líneas para una mejor legibilidad. Puedes ajustar según tus preferencias. */
            margin-bottom: 30px;
            /* Agrega espacio en la parte inferior para separar los párrafos. */
        }

        h3 {
            color: #c5c1c1;
            /* Color de texto gris oscuro, pero puedes ajustarlo según tus preferencias. */
            font-size: 25px;
            /* Tamaño de la fuente para los párrafos. Ajusta según sea necesario. */
            line-height: 1.5;
            /* Espaciado entre líneas para una mejor legibilidad. Puedes ajustar según tus preferencias. */
            margin-bottom: 30px;
        }


        button {
            height: 45px;
            text-transform: uppercase;
            background-color: rgb(255, 217, 0);
            border: 2px solid black;
            border-radius: 5px;
            width: 100%;
            cursor: pointer;



            h4 {
                font-size: 20px;
                padding-bottom: 30px;
                color: black;
                border-radius: 15px;

            }



            img {
                border: 15px;
                column-gap: normal;
            }

        }
    }


    




}



/* Estilos para el contenedor padre del flex */

.padreFlex {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}


/* Estilos para el contenedor grid */

.gridPadre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
