.container {
    background-color: rgb(243, 137, 155);
    /* Cambia el fondo a rosa */
    padding: 20px 0;
    /* Ajusta el espacio interno del footer */
    color: white;
    /* Cambia el color del texto a blanco para mayor contraste */

}

