header {
  background-color: #f7dede; /* Color de fondo del encabezado, ajusta según tu diseño. */
  padding: 20px 0;

  .logo-container {
    display: flex;
    align-items: center;

    img {
      max-width: 150px; /* Ajusta el ancho máximo del logotipo según tus necesidades. */
      height: auto; /* Permite que la altura se ajuste automáticamente para mantener las proporciones. */
      margin-right: 20px; /* Agrega espacio a la derecha del logotipo para separarlo del texto. */
    }
  }


  h1 {
    font-family: 'Bangers', cursive;
    color: #FFD700;
    text-shadow: 2px 2px 4px #FF8C00;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    
  }


}