header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: yellow;
    padding: 10px;
    border: 5px solid black;
    color: black;
}

/* Estilos para el encabezado h1 */

h1 {
    font-size: 39px;
    text-align: left;
    padding-bottom: 20px;
    color: black;
}


/* Estilos para la navegación */
nav {
    text-align: center;
  
  }
  