.container {
    

    h2 {
        font-family: 'Arial', sans-serif;
        /* Puedes elegir una fuente sans-serif común para los subtítulos. */
        color: rgb(218, 204, 204)0f0;
        /* Color de texto negro, pero puedes ajustarlo según tus preferencias. */
        font-size: 34px;
        /* Tamaño de la fuente para los subtítulos. Ajusta según sea necesario. */
        font-weight: bold;
        text-align: center;

      }
      
      // Definición de estilos para h3
      h3 {
        font-size: 20px; // Tamaño de fuente para h3
        color: #d3cdcd; // Color del texto para h3
        margin-bottom: 1.5rem; // Margen inferior para h3
        padding: 10px 15px;

      }
}