/* Estilos para la sección de noticias */

#noticias {
    background-color: yellow;
    border: 1px solid black;
    color: black;
    padding: 20px;

    .botton {
        color: violet;
    }

  }
  