/* Estilos para el header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: yellow;
  padding: 10px;
  border: 5px solid black;
  color: black;
}

/* Estilos para el contenedor padre del flex */
.padreFlex {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px;
}

form {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
}

form h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  height: 45px;
  text-transform: uppercase;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

button p {
  color: #fff;
  margin: 0;
}

/* Estilos para el pie de página */
.footer {
  position: absolute;
  width: 100%;
  background-color: black;
  color: gray;
  padding: 10px;
}

/* Estilos para la sección de noticias */
#noticias {
  background-color: lightblue;
  border: 5px solid black;
  color: black;
  padding: 20px;
}

/* Estilos para el contenedor grid */
.gridPadre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Estilos para la navegación */
nav {
  text-align: center;
}

/* Estilos para las imágenes */
.img,
.logo,
.imagen-adaptada,
.background-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

/* Estilos para el texto sobre la imagen */
.text-over-image {
  padding: 10px;
  text-align: center;
  color: white;
}

/* Estilos para el cuerpo del documento */
body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: azure;
}

/* Estilos para la sección principal */
.main {
  font-size: 80px;
}

/* Estilos para el encabezado h1 */
h1 {
  font-size: 39px;
  text-align: left;
  padding-bottom: 20px;
  color: black;
}

/* Estilos para el encabezado h3 */
h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 120px; /* Ajusta el alto según sea necesario */
  width: 100%;
  background-color: yellow;
  padding: 10px;
  border: 5px solid black;
  color: black;
}

.hijoFlex img {
  max-width: 100%; /* Establece el tamaño máximo al 100% del contenedor padre */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  margin-bottom: 15px; /* Añade margen inferior para separar la imagen del contenido */
}